<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="serilog" type="Serilog.Settings.AppSettings.SerilogConfigurationSection, Serilog.Settings.AppSettings" />
	</configSections>

	<serilog>
		<using assembly="Serilog.Sinks.Console" />
		<using assembly="Serilog.Sinks.File" />

		<minimumLevel value="Information" />

		<writeTo>
			<sink name="Console" />
			<sink name="File">
				<argument name="rollingInterval" value="Day" />
			</sink>
		</writeTo>
	</serilog>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IAccountEndPoint">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGameEndPoint">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatServiceEndpoint">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProfileServiceEndpoint">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGuestAccountEndpoint">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IAccountEndPoint1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IChatServiceEndpoint1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGameEndPoint1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IGuestAccountEndpoint1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProfileServiceEndpoint1">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		
		<client>
   <endpoint address="net.tcp://localhost:8181/AccountService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IAccountEndPoint" contract="AccountService.IAccountEndPoint"
    name="NetTcpBinding_IAccountEndPoint" />
   <endpoint address="net.tcp://localhost:8202/ChatService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatServiceEndpoint" contract="ChatService.IChatServiceEndpoint"
    name="NetTcpBinding_IChatServiceEndpoint" />
   <endpoint address="net.tcp://localhost:8192/GameService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IGameEndPoint" contract="GameService.IGameEndPoint"
    name="NetTcpBinding_IGameEndPoint" />
   <endpoint address="net.tcp://localhost:8484/GuestAccountService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGuestAccountEndpoint"
    contract="GuestAccountService.IGuestAccountEndpoint" name="NetTcpBinding_IGuestAccountEndpoint" />
   <endpoint address="net.tcp://localhost:8383/ProfileService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileServiceEndpoint"
    contract="ProfileService.IProfileServiceEndpoint" name="NetTcpBinding_IProfileServiceEndpoint" />
   <endpoint address="net.tcp://localhost:8181/AccountService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IAccountEndPoint1" contract="AccountService.IAccountEndPoint"
    name="NetTcpBinding_IAccountEndPoint1" />
   <endpoint address="net.tcp://localhost:8202/ChatService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IChatServiceEndpoint1" contract="ChatService.IChatServiceEndpoint"
    name="NetTcpBinding_IChatServiceEndpoint1" />
   <endpoint address="net.tcp://localhost:8192/GameService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IGameEndPoint1" contract="GameService.IGameEndPoint"
    name="NetTcpBinding_IGameEndPoint1" />
   <endpoint address="net.tcp://localhost:8484/GuestAccountService"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGuestAccountEndpoint1"
    contract="GuestAccountService.IGuestAccountEndpoint" name="NetTcpBinding_IGuestAccountEndpoint1" />
   <endpoint address="net.tcp://localhost:8383/ProfileService" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProfileServiceEndpoint1"
    contract="ProfileService.IProfileServiceEndpoint" name="NetTcpBinding_IProfileServiceEndpoint1" />
  </client>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>