<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGameEndPoint" />
                <binding name="BasicHttpBinding_IAccountEndPoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGameEndPoint">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountEndPoint">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.127:8191/GameService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGameEndPoint" contract="GameService.IGameEndPoint" name="BasicHttpBinding_IGameEndPoint" />
            <endpoint address="net.tcp://192.168.1.127:9192/GameService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameEndPoint" contract="GameService.IGameEndPoint" name="NetTcpBinding_IGameEndPoint" />
            <endpoint address="http://192.168.1.127:8181/AccountService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountEndPoint" contract="AccountService.IAccountEndPoint" name="BasicHttpBinding_IAccountEndPoint" />
            <endpoint address="net.tcp://192.168.1.127:8182/AccountService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountEndPoint" contract="AccountService.IAccountEndPoint" name="NetTcpBinding_IAccountEndPoint" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>